.parent{
    position: relative;
    margin: 0 auto;
    border: 15px solid;
    border-top-color: #456BD9;
    border-right-color: yellow;
    border-bottom-color: pink;
    border-left-color: darkorchid;
    width: 300px;
    height: 300px;
}

.chaild{
   background: #456BD9;
   border: 2px solid transparent;
   width: 60px;
   height: 60px;
   border-radius: 30px;
}

.chaild{
    animation: anim 5s linear 5 running;
   /* animation-name: anim;
   animation-duration: 5s;
   animation-timing-function: linear;
   animation-delay: 0s;
   animation-iteration-count: 5;
   animation-play-state: paused; */
}

@keyframes anim{
    0%{
       margin-left: 0%;
       margin-top: 0%;
    }
    25%{
       margin-left: 79%;
       margin-top: 0%;
       background-color: yellow;
       border: 2px solid transparent;
       width: 60px;
       height: 60px;
       border-radius: 0;
    }
    50%{
        margin-left: 79%;
        margin-top: 79%; 
        background-color: pink;
        border: 2px solid transparent;
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }
    75%{
        margin-left: 0%;
        margin-top: 79%; 
        background-color: darkorchid;
        border: 2px solid transparent;
        width: 60px;
        height: 60px;
        border-radius: 0;
    }
    100%{
        margin-left: 0%;
        margin-top: 0%; 
        background: #456BD9;
        animatio
    }
}
